<label>Nombre del servidor</label>

<input
  type="text"
  class="form-control"
  name=""
  id=""
  (input)="onUpdateServerName($event)"
/>

<p>{{ serverName }}</p>

<button
  class="btn btn-primary mt-2"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add server
</button>

<!-- <p [innerText]="allowNewServer"></p> -->
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>
